<!DOCTYPE html>
<html lang=en>
  <head>
    <meta charset=utf-8>
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=viewport content="width=device-width,initial-scale=1">
    <link rel=icon href=/favicon.ico>
    <title>yellow-frontend</title>
    <link href=/styles/app.2585b29f.css rel=preload as=style>
    <link href=/styles/app.2585b29f.css rel=stylesheet>
    <link href=/styles/chunk-vendors.486abb75.css rel=preload as=style>
    <link href=/styles/chunk-vendors.486abb75.css rel=stylesheet>
    <link href=/scripts/app.3ffd26d0.js rel=preload as=script>
    <link href=/scripts/chunk-vendors.3b41db21.js rel=preload as=script>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but yellow-frontend doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id=app></div>
    <script src=/scripts/app.3ffd26d0.js></script>
    <script src=/scripts/chunk-vendors.3b41db21.js></script>
  </body>
</html>